mixin header()
  header.header
    .container
      h1.header__title#title freeCodeCamp Survey Form
      p.header__description#description Thank you for taking the time to help us improve the platform
